{% extends "base.html" %}

{% block content %}
<section class="about-section">
    <h1>About VDBC</h1>
    <p>
        VDBC is a web-based application designed for dragon boat paddlers to assess their technique using 3D motion data. By leveraging video-based pose tracking and motion analysis, VDBC delivers consistent feedback to help paddlers refine their form, minimize the risk of common injuries, and enhance performance. Whether you are new to the sport or an experienced athlete, you all could effectively utilize VDBC for skill development and training optimization.
    </p>
</section>
{% endblock %}