{% extends "base.html" %}

{% block content %}
<section class="resources-section">
    <h1>Resources</h1>
    <p>Here you'll find training materials, guides, and helpful tips to enhance your paddling experience.</p>
    <ul>
        <li><a href="#">Paddling Techniques Guide</a></li>
        <li><a href="#">Injury Prevention Tips</a></li>
        <li><a href="#">Competition Preparation Checklist</a></li>
        <li><a href="https://docs.google.com/document/d/1Ernunen3WwinCYkcgU_v2cjzCqf7aQUq/edit" target="_blank">User Instruction Manual</a></li>
    </ul>
</section>
{% endblock %}
